/* Color Picker: https://flatuicolors.com/ */

/* Loader */
.loader {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
}

.inner {
  width: 100%;
  height: 100vh;
  background: url('../icons/loader.gif') center center no-repeat;
}

/* Sliders */
.next, .prev {
  width: 50px;
  height: 50px;
}

.slides-navigation a.next {
  background: url('../icons/next.png');
  right: 20px;
}

.slides-navigation a.prev {
  background: url('../icons/prev.png');
  left: 20px;
}

.overlay {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.title-message {
  position: absolute;
  z-index: 4;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0 2px 5px rgba(0,0,0,0.4);
  letter-spacing: 6px;
  font-weight: 100;
}

.name {
  font-size: 2.5em;
}

.job-titles {
  font-size: 1.5em;
  height: 0;
}

/* Navbar */
.navbar {
  background-color: #000a12!important;
  padding: 10px 40px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.nav-item {
  margin: 0px 10px;
}

/* Sections */
.section {
  padding: 100px 0;
}

.section-header {
  padding-bottom: 2rem;
  font-size: 2.5em;
  font-weight: bold;
}

.section-text {
  font-family: "Open Sans";
  opacity: 0.87;
}

.section-sub {
  font-size: 1.3em;
}

.email {
  color: #004eeb;
  font-weight: 600;
}

/* Technical Skills Section */
#skills {
  background-color: #263238;
  color: white;
}

#skills-title-container {
  position: relative;
}

#skills-title:after {
  content: '';
  color: white;
  position: absolute;
  width: 15%;
  border-bottom: 2px solid white;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
}

.chart {
  display: inline-block;
  width: 152px;
  height: 152px;
}

.chart canvas {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
}

.chart-relative-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: 600;
}

.skill-name {
  display: block;
}

.owl-carousel {
  margin-top: 50px;
}

/* Stats Section */
.square-col {
  padding: 15px;
}

.square-item {
  position: relative;
  width: 100%;
  /* Half of icon's font size (3em) */
  padding-top: 1.5em;
}

.square-item-container {
  position: relative;
  /* center this relative positioned div. */
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding-top: 80%;
  border: 2px solid black;
  border-top: none;
}

.square-item-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.square-item-container:before, .square-item-container:after {
  position: absolute;
  top: 0;
  content: '';
  width: 30%;
  border-top: 2px solid black;
}

.square-item-container:before {
  left: 0;
}

.square-item-container:after {
  right: 0;
}

.square-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

i {
  font-size: 3em;
}

/* Divider */
hr {
  border: 0;
  width: 80%;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* Projects Section */
#projects {
  padding: 50px 0;
}

.project-img {
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.vertical-img {
  width: 50%;
  height: auto;
}

.project-title {
  font-size: 1.7em;
  margin: 10px 0;
}

.project-date {
  font-style: italic;
  color: #808080;
  font-size: 1.1em;
}

.project-techs {
  font-weight: 600;
}

.btn {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-right: 10px;
}

.project-row {
  margin-top: 50px;
}

/* Leetcodes Section */
.post-container {
  margin-top: 50px;
  padding: 0 100px;
}

.post-title {
  color: #607D8B;
  font-family: "Open Sans";
  opacity: 0.87;
  font-size: 2em;
  font-weight: 700;
  /* text-shadow: 0px 1px 0.3px #000; */
}

.post-title:hover {
  color: #212529;
  text-decoration: none;
}

.leetcode-topics {
  font-size: 1.2em;
}

.leetcode-item {
  padding: 0 100px;
  margin-bottom: 30px;
}

.problem {
  margin-bottom: 40px;
  border-left: 3px solid #c6c6c6;
  padding: 0.75rem 1.75rem;
  color: #808080;
  font-style: italic;
}

.problem-text {
  font-size: 1rem;
}

.problem-header {
  display: block;
  font-weight: 600;
}

.example {
  padding: 0.50rem 1.50rem;
  background-color: #f7f9fa;
}

.example-item {
  display: block;
  margin: 0.5rem 0;
}

.example-io {
  font-weight: 600;
}
