/* Color Picker: https://flatuicolors.com/ */

/* Sliders */
.next, .prev {
  width: 50px;
  height: 50px;
}

.slides-navigation a.next {
  background: url('../icons/next.png');
  right: 20px;
}

.slides-navigation a.prev {
  background: url('../icons/prev.png');
  left: 20px;
}

.overlay {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.title-message {
  position: absolute;
  z-index: 4;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0 2px 5px rgba(0,0,0,0.4);
  letter-spacing: 6px;
  font-weight: 100;
}

.name {
  font-size: 2.5em;
}

.job-titles {
  font-size: 1.5em;
  height: 0;
}

/* Sections */
.section {
  padding: 100px 0;
}

.section-header {
  padding-bottom: 2rem;
  font-size: 2.5em;
  font-weight: bold;
}

.section-text {
  font-family: "Open Sans";
  opacity: 0.87;
}

.section-sub {
  font-size: 1.3em;
}

.email {
  color: #004eeb;
  font-weight: 600;
}

/* Technical Skills Section */
#skills {
  background-color: black;
  color: white;
}

.chart {
  display: inline-block;
  width: 152px;
  height: 152px;
}

.chart canvas {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
}

.chart-relative-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: 600;
}

.skill-name {
  display: block;
}

.owl-carousel {
  margin-top: 50px;
}

/* Stats Section */
.square-col {
  padding: 15px;
}

.square-item-container {
  width: 100%;
  /* padding-top is assigned 100% width of parent div. (Equal to width 100%) */
  padding-top: 100%;
  border: 2px solid black;
  border-top: none;
}

.square-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
